body {
  font-family: 'Neutra Text', sans-serif;
  color: #322625;
  background-color: #ebebeb;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #322625;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #c0e3e5;
}

button {
  background-color: #fdc936;
  border: none;
  padding: 10px;
  margin: 5px;
}

button.active {
  background-color: #322625;
  color: #ffffff;
}
